---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Hero from "@components//dandriod.astro";
import Features from "@components/dfeatures.astro";
import Article from "@components/article.astro";
import Single from "@components/single.astro";
import Policy from "@components/policy.astro";
import Testiminal from "@components/testiminal.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";

---


<Layout title="Download TeraBox MOD APK, Free Cloud Storage 1TB - TeraBox APP">

<div class="md:container md:mx-auto">
        <Hero />
</div>
<Container>
    <Features />
    <Article />
    <Testiminal />
    <Policy />
  </Container>
</Layout>


  
