---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---




<div class="bg-[#F1F6FF] px-4">
  <div class="max-w-7xl mx-auto flex flex-col lg:flex-row items-center justify-between">
    <!-- Left section with images -->
    <div class="flex space-x-4 items-center">
      <img src="https://www.staticcc.com/fe-opera-static/node-static-v4/fe-webv4-main/img/panelBanner.050f96a3.png" alt="Laptop" />
    </div>

    <!-- Right section with text and buttons -->
    <div class="text-center lg:text-left lg:max-w-xl mt-8 lg:mt-0">
      <div class="flex items-center justify-center lg:justify-start space-x-2 text-yellow-500">
        <svg class="h-5 w-5 fill-current" viewBox="0 0 20 20" fill="currentColor"><path d="M9.049 2.927a1 1 0 011.902 0l1.357 4.146h4.356a1 1 0 01.57 1.806l-3.512 2.613 1.357 4.146a1 1 0 01-1.536 1.118L10 13.98l-3.541 2.776a1 1 0 01-1.536-1.118l1.357-4.146-3.512-2.613a1 1 0 01.57-1.806h4.356l1.357-4.146z" /></svg>
        <svg class="h-5 w-5 fill-current" viewBox="0 0 20 20" fill="currentColor"><path d="M9.049 2.927a1 1 0 011.902 0l1.357 4.146h4.356a1 1 0 01.57 1.806l-3.512 2.613 1.357 4.146a1 1 0 01-1.536 1.118L10 13.98l-3.541 2.776a1 1 0 01-1.536-1.118l1.357-4.146-3.512-2.613a1 1 0 01.57-1.806h4.356l1.357-4.146z" /></svg>
        <svg class="h-5 w-5 fill-current" viewBox="0 0 20 20" fill="currentColor"><path d="M9.049 2.927a1 1 0 011.902 0l1.357 4.146h4.356a1 1 0 01.57 1.806l-3.512 2.613 1.357 4.146a1 1 0 01-1.536 1.118L10 13.98l-3.541 2.776a1 1 0 01-1.536-1.118l1.357-4.146-3.512-2.613a1 1 0 01.57-1.806h4.356l1.357-4.146z" /></svg>
        <svg class="h-5 w-5 fill-current" viewBox="0 0 20 20" fill="currentColor"><path d="M9.049 2.927a1 1 0 011.902 0l1.357 4.146h4.356a1 1 0 01.57 1.806l-3.512 2.613 1.357 4.146a1 1 0 01-1.536 1.118L10 13.98l-3.541 2.776a1 1 0 01-1.536-1.118l1.357-4.146-3.512-2.613a1 1 0 01.57-1.806h4.356l1.357-4.146z" /></svg>
        <svg class="h-5 w-5 fill-current" viewBox="0 0 20 20" fill="currentColor"><path d="M9.049 2.927a1 1 0 011.902 0l1.357 4.146h4.356a1 1 0 01.57 1.806l-3.512 2.613 1.357 4.146a1 1 0 01-1.536 1.118L10 13.98l-3.541 2.776a1 1 0 01-1.536-1.118l1.357-4.146-3.512-2.613a1 1 0 01.57-1.806h4.356l1.357-4.146z" /></svg>
       
<span class="text-base text-gray-700">Comments (213552)</span>
      </div>
      <h1 class="text-3xl lg:text-4xl font-bold text-gray-900 mt-4">Download TeraBox APK for Android</h1>
      <p class="text-base	font-medium	text-slate-800 mt-4">Free Cloud Storage up to 1TB (1024GB) 
          <br />
        Download Videos, Files and Send Large Files Free
      </p>
      <p class="text-sm font-normal text-slate-800 mt-2">
        <strong>Size:</strong> 117M <strong>Version:</strong> 3.32.6 <br />
        <strong>Operation system:</strong> Android <br />
        <strong>Release date:</strong> 2024-08-22
      </p>





<div class="flex flex-col w-full sm:w-auto sm:flex-row p-4">
    <a href="https://www.4sync.com/s/fG0Djwy4h" class="flex flex-row items-center justify-center w-full px-4 py-4 mb-4 text-white text-sm font-bold bg-gray-800 leading-6 capitalize duration-100 transform rounded-sm shadow cursor-pointer focus:ring-4 focus:ring-green-500 focus:ring-opacity-50 focus:outline-none sm:mb-0 sm:w-auto sm:mr-4 md:pl-8 md:pr-6 xl:pr-10   hover:shadow-lg hover:-translate-y-1">
        <span class="ml-4">
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" /></svg>
        </span>
         <span class="ml-2">Download TeraBox MOD</span>
    </a>

    <a href="/download-terabox-mod-apk-free"
        class="flex items-center justify-center w-full px-4 py-4 text-sm font-bold leading-6 capitalize duration-100 transform border-2 rounded-sm cursor-pointer border-grey-800 focus:ring-4 focus:ring-green-500 focus:ring-opacity-50 focus:outline-none sm:w-auto sm:px-6 border-text  hover:shadow-lg hover:-translate-y-1">
        Change LOG
    </a>
</div>
















    </div>
  </div>
</div>
