---
// @ts-ignore
import { Icon } from "astro-icon/components";


const features = [
  {
    title: "Bring Your Own Framework",
    description:
      "Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "100% Static HTML, No JS",
    description:
      "Astro renders your entire page to static HTML, removing all JavaScript from your final build by default.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "On-Demand Components",
    description:
      "Need some JS? Astro can automatically hydrate interactive components when they become visible on the page.  ",
    icon: "bx:bxs-data",
  },
  {
    title: "Broad Integration",
    description:
      "Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, and any other npm packages.",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO Enabled",
    description:
      "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community",
    description:
      "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
    icon: "bx:bxs-user",
  },
];
---



<!-- Main Start --> 


<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  			<div class="grid gap-5 row-gap-10 lg:grid-cols-2">
			    <div class="flex flex-col justify-center">
				<div class="max-w-xl mb-6">
					<h2 class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">What’s New in <a class="text-blue-600 hover:underline" href="/terabox-latest-versions" target="_blank">Flixeon APK 2.0</a> Latest Version</h2>
                      			<p class="text-base text-gray-700 md:text-lg">Flixeon APK has launched a new version 2.0 to watch HD movies and TV shows on the Flixeon app, available for free on Android. Experience seamless HD streaming of your preferred content with <a class="text-blue-600 hover:underline" href="/flixeon-apk-latest-updates" target="_blank">Flixeon APK</a> wherever you are! </p>
      				</div>
      					<p class="mb-4 text-sm font-bold tracking-widest uppercase">Features</p>
      						<div class="grid space-y-3 sm:gap-2 sm:grid-cols-2 sm:space-y-0">

        				<ul class="space-y-3">
						<li class="flex"><span class="mr-1"><svg class="w-5 h-5 mt-px text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52"><polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon></svg></span>Movies and TV shows</li>
						<li class="flex"><span class="mr-1"><svg class="w-5 h-5 mt-px text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52"><polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon></svg></span>Scheduling</li>
						<li class="flex"><span class="mr-1"><svg class="w-5 h-5 mt-px text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52"><polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon></svg></span>Theatres</li>

        				</ul>
        				<ul class="space-y-3">
          					<li class="flex"><span class="mr-1"><svg class="w-5 h-5 mt-px text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52"><polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon></svg></span>Filter</li>
						<li class="flex"><span class="mr-1"><svg class="w-5 h-5 mt-px text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52"><polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon></svg></span>Search Options</li>
						<li class="flex"><span class="mr-1"><svg class="w-5 h-5 mt-px text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52"><polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon></svg></span>Notifications</li>

        				</ul>
      				</div>
    			</div>
    			
<div>
      				<img class="object-cover w-full h-56 rounded shadow-lg sm:h-96" src="/flixeon-main.avif?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260" alt="Download Flixeon Movies & TV Shows App" />


</div>








</div>
</div>

<!-- Main End --> 

<!-- Inforamtion Start --> 

		<div class="col-span-2 pt-16 md:pt-12 mb-8">
			<h2 class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-3xl sm:leading-none">TeraBox MOD APK Information</h2>
				<p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Flixeon APK is an app designed for movie fans, providing them with information about trending movies and TV shows. Flixeon Movies TV Shows for Android only offers legal options from over 85 streaming services and constantly updates its content.</p>
					
		</div>
</div>
<hr>
<!-- Inforamtion End --> 


<!-- Main End --> 
