<footer class="my-10">  
  <div class="mt-8 xl:mt-8">
      <nav class="flex flex-wrap justify-center text-base font-light">
                <div class="px-5 py-2"><a href="/about">About</a></div>
                <div class="px-5 py-2"><a href="/contact">Contact Us</a></div>                
                <div class="px-5 py-2"><a href="/blog">Blog</a></div>                
                <div class="px-5 py-2"><a href="/privacy-policy">Privacy Policy</a></div>
                <div class="px-5 py-2"><a href="/terms-of-use">Terms of Use</a></div>
                <div class="px-5 py-2"><a href="/sitemap-index.xml">Site Map</a></div>
      </nav>
  </div> 
        <p class="text-center text-sm text-slate-500">Copyright © 2024 TeraBox MOD. All rights reserved.</p>

</footer>

