---
// @ts-ignore
import { Icon } from "astro-icon/components";


---


<div class="bg-white px-2 py-10 p-6">
            <div class="max-w-6xl max-md:max-w-lg mx-auto">
                <div class="mx-auto max-w-6xl">
                    <div class="col-span-2">
                      <h2 class="text-gray-800 text-2xl font-extrabold">TeraBox MOD Ratings and Reviews</h2>
                      <p class="text-sm text-gray-800 mt-4 leading-relaxed">Flixeon stands out in a crowded market with its lightweight design and user-friendly interface. Installation is a breeze, and the app takes up minimal space on your device. Whether you're a fan of horror, romance, documentaries or dramas, Flixeon’s extensive library has something for everyone. The content is aggregated from many sources from advanced user communities around the world so you will be ensured in its correctness. This application Flixeon Movies TV Shows for Android get updates regularly to keep you get the most up-to-date information for your most usefulness and results.</p>
                    </div>
                </div>

                <div class="grid md:grid-cols-3 gap-6 mt-12">
                    <div class="p-6 rounded-lg bg-stone-50 shadow-md">
                        <div class="flex items-center">
                              
                            <div class="ml-4"><h4 class="text-gray-800 text-sm font-extrabold">Donna Johnson</h4>
                                <p class="mt-0.5 text-xs text-gray-400">July 20, 2024</p>
                            </div>
                        </div>

                        <div class="mt-6"><p class="text-gray-800 text-sm leading-relaxed">Decent app but could be better! I can watch my favorite movies and tv series with no ads and 1080p quality!!! The only thing that is annoying is that when I open the app it crashes and when I click out of a movie it crashes but while I'm watching something I don't have this problem so it's fine with me!</p>
                        </div>

                            <div class="flex space-x-1 mt-4">
                                <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" /></svg>
                                <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" /></svg>
                                <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" /></svg>
                                <svg class="w-4 fill-[#CED5D8]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" /></svg>
                                <svg class="w-4 fill-[#CED5D8]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" /></svg>
                          </div>
                    </div>

          <div class="p-6 rounded-lg bg-stone-50 shadow-md">
            <div class="flex items-center">
              
              <div class="ml-4">
                <h4 class="text-gray-800 text-sm font-extrabold">Miranda Ekstrom</h4>
                <p class="mt-0.5 text-xs text-gray-400">August 22, 2024</p>
              </div>
            </div>

            <div class="mt-6">
              <p class="text-gray-800 text-sm leading-relaxed">This is the best movie tv show free app I have ever come acorss. Way better than others you may need to pay for. You can find literally anything on here with excelent quality. Even movies that literally just came out. You don't even need to search endlessly for a good stream before you can watch the movie you want. You are provided with miltiple streaming options but I have watched quite a few movies already and any stream I select works just fine. I'd give a million stars if I could!!!!!!</p>
            </div>

            <div class="flex space-x-1 mt-4">
              <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
              </svg>
              <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
              </svg>
              <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
              </svg>
              <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
              </svg>
              <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
              </svg>
            </div>
          </div>

          <div class="p-6 rounded-lg bg-stone-50 shadow-md">
            <div class="flex items-center">
              
              <div class="ml-4">
                <h4 class="text-gray-800 text-sm font-extrabold">Christopher</h4>
                <p class="mt-0.5 text-xs text-gray-400">July 23, 2024</p>
              </div>
            </div>

            <div class="mt-6">
              <p class="text-gray-800 text-sm leading-relaxed">Yall this is the best app ever. Yes it does not download movies but you can watch a variety of movies without a number of limitations so long as you have great internet access. They don't show too many ads. Actually ive never seen an ad</p>
            </div>

            <div class="flex space-x-1 mt-4">
              <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
              </svg>
              <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
              </svg>
              <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
              </svg>
              <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
              </svg>
              <svg class="w-4 fill-[#CED5D8]" viewBox="0 0 14 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
<hr>


<!-- How to Get Started with Flixeon App Start --> 
<div class="bg-white px-2 py-10 p-6">
            <div class="max-w-6xl max-md:max-w-lg mx-auto">
                <div class="mx-auto max-w-6xl">
                    <div class="col-span-2">
                      <h2 class="text-gray-800 text-2xl font-extrabold">How to Get Started with Flixeon App for Android</h2>
                      <p class="text-base text-gray-700 md:text-lg">Getting started with Flixeon APK Movies TV Shows for Android is quick and easy: </p>
                        <ul class="list-disc"> 
                           <li>Download the App</li> 
                           <li>Available on both Android and iOS platforms. Visit the Google Play Store or Apple App Store to download.</li> 
                           <li>Create an Account</li> 
                           <li>Sign up using your email or social media accounts.</li> 
                           <li>Start Streaming</li> 
                           <li>Explore the vast library and start watching your favorite content instantly.</li> 
                        </ul>
                    </div>
<br/>
                <div class="mx-auto max-w-6xl">

                   <div class="col-span-2">
                      <h2 class="text-gray-800 text-2xl font-extrabold">How to Get Started with Flixeon App for Android</h2>
                      <p class="text-base text-gray-700 md:text-lg">Tips to Maximize Your Flixeon Experience</p>
                        <ul class="list-disc"> 
                           <li>Use Watchlists: Keep track of shows and movies you want to watch later.</li> 
                           <li>Enable Notifications: Stay updated on new releases and special offers.</li> 
                           <li>Explore Categories: Discover hidden gems by browsing through different genres and categories.</li> 

                        </ul>
                    </div>
                    </div>

                </div>

                <div class="grid md:grid-cols-3 gap-6 mt-12">
                    <div class="p-6 rounded-lg bg-stone-50 shadow-md">
                        <div class="flex items-center">
                              
                            <div class="ml-4"><h4 class="text-gray-800 text-sm font-extrabold">Roy Jones</h4>
                                <p class="mt-0.5 text-xs text-gray-400">July 20, 2024</p>
                            </div>
                        </div>

                        <div class="mt-6"><p class="text-gray-800 text-sm leading-relaxed">Decent app but could be better! I just wish that we could access our music through this app without any hassle. Like provide widget to play songs from lockscreen. This app is quite convinient to have because without having any SD card, then this app is like it's substitute.</p>
                        </div>

                            <div class="flex space-x-1 mt-4">
                                <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" /></svg>
                                <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" /></svg>
                                <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" /></svg>
                                <svg class="w-4 fill-[#CED5D8]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" /></svg>
                                <svg class="w-4 fill-[#CED5D8]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" /></svg>
                          </div>
                    </div>

          <div class="p-6 rounded-lg bg-stone-50 shadow-md">
            <div class="flex items-center">
              
              <div class="ml-4">
                <h4 class="text-gray-800 text-sm font-extrabold">Inugami Korone 光</h4>
                <p class="mt-0.5 text-xs text-gray-400">August 22, 2024</p>
              </div>
            </div>

            <div class="mt-6">
              <p class="text-gray-800 text-sm leading-relaxed">Dear TeraBox, thank you for coming in my life as my saviour of my phone, without you I wouldn't be able to keep a lot of memories worth of lifetime. TeraBox truly offers the free 1TB (1,000 GB) worth of cloud storage, it's pretty fast to upload larger files, you can get all of these for free!</p>
            </div>

            <div class="flex space-x-1 mt-4">
              <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
              </svg>
              <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
              </svg>
              <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
              </svg>
              <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
              </svg>
              <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
              </svg>
            </div>
          </div>

          <div class="p-6 rounded-lg bg-stone-50 shadow-md">
            <div class="flex items-center">
              
              <div class="ml-4">
                <h4 class="text-gray-800 text-sm font-extrabold">XOXO</h4>
                <p class="mt-0.5 text-xs text-gray-400">July 23, 2024</p>
              </div>
            </div>

            <div class="mt-6">
              <p class="text-gray-800 text-sm leading-relaxed">Everything is fine but i want to enable two step verification for my teraBox account , also it would be nice if we able to add more login methods to one account.</p>
            </div>

            <div class="flex space-x-1 mt-4">
              <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
              </svg>
              <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
              </svg>
              <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
              </svg>
              <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
              </svg>
              <svg class="w-4 fill-[#CED5D8]" viewBox="0 0 14 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
<hr>

<!-- How to Get Started with Flixeon App End --> 


