---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import '@fontsource-variable/bricolage-grotesque';



export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.webp",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Astroship"
  : "Flixeon – Watch Movies, TV shows Free with Streaming Movie Apk";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="icon" href="/android-chrome-512x512.png" sizes="512x512">
    <link rel="icon" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="sitemap" href="/sitemap-index.xml">    
    <meta name="msapplication-TileImage" content="/android-chrome-270x270.png">


<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Website",
  "name": "Flixeon APK V2.0",
  "url": "https://flixeon.app",
  "@id": "https://flixeon.app#website",
  "image": "https://flixeon.app/opengraph.webp",
  "sameAs": [
    ""
  ]
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "@id": "#webpage",
  "url": "https://flixeon.app",
  "inLanguage": "en-US",
  "name": "Flixeon – Watch Movies, TV shows Free with Streaming Movie Apk",
  "description": "Download Flixeon Movies & TV Shows App is the ultimate free streaming app for Android. Watch movies and TV shows for free online in HD quality with flixeon movie apk. ",
  "isPartOf": {
    "@id": " https://flixeon.app#website"
  }
}
</script>
   

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "SoftwareApplication",
  "name": "Flixeon – Watch Movies, TV shows Free with Streaming Movie Apk",
  "description": "Download Flixeon Movies & TV Shows App is the ultimate free streaming app for Android. Watch movies and TV shows for free online in HD quality with flixeon movie apk. ",
  "operatingSystem": "Android/iOS",
  "applicationCategory": "Tools/Utilities",
  "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "USD"
  },
 "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "5",
    "bestRating": "5",
    "worstRating": "1",
    "ratingCount": "5"
},
  "downloadUrl": "https://flixeon.vercel.app/download-flixeon-apk-latest-version",
  "author": {
    "@type": "Person",
    "name": "Marcell Ziemann"
  }
}

    </script>




<script type="application/ld+json">
    {
  "@context": "https://schema.org/",
  "@type": "MobileApplication",
  "name": "Flixeon – Watch Movies, TV shows Free with Streaming Movie Apk",
  "description": "Download Flixeon Movies & TV Shows App is the ultimate free streaming app for Android. Watch movies and TV shows for free online in HD quality with flixeon movie apk. ",
  "operatingSystem": "Android",
  "applicationCategory": "UtilitiesApplication",
  "offers": {
    "@type": "Offer",
    "price": "0.00",
    "priceCurrency": "USD"
  },
  "downloadUrl": "https://flixeon.vercel.app/download-flixeon-apk-latest-version",
  "author": {
    "@type": "Person",
    "name": "Marcell Ziemann"
  },
"aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "5",
    "bestRating": "5",
    "worstRating": "1",
    "ratingCount": "5"
  }
},
    "review": {
      "@type": "Review",
      "reviewBody": "Excellent app! Suggestions for improvement: - Gallery view for videos & photos - Separate views for photos, videos, & screenshots - Manual & automatic organizer feature Love the cinematic video interface, but prefer a traditional gallery view. These additions would enhance content management & discovery. Great job, looking forward to updates! I can give you more tips related to interface.",
      "itemReviewed": {
      "@type": "SoftwareApplication",
      "name": "TeraBoxMod"
  },
  "author": {
    "@type": "Person",
    "url": "https://flixeon.app",
    "name": "Althea S. Williams"
  },
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": 5,
    "worstRating": 1,
    "bestRating": 5,
    "reviewAspect": "Excellent"
  }
}

    }
    </script>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Article",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://flixeon.app"
  },
  "headline": "Flixeon – Watch Movies, TV shows Free with Streaming Movie Apk",
  "description": "Download Flixeon Movies & TV Shows App is the ultimate free streaming app for Android. Watch movies and TV shows for free online in HD quality with flixeon movie apk. ",
  "articleBody": "
For Flixeon’s users who enjoy the big screen experience, Flixeon’s theater locator is a game-changer. Using GPS, the app helps you find nearby theaters and cinemas. Users can view showtimes and details about movies playing in their region, making it easier than ever to plan a night out.

Multiple streaming links per Movie!
Flixeon latest verion V2.0 introduced up to 60 streaming links per movie! and Unprecedented amount of streaming sources, ensuring excellent quality of streaming.

Trailer Previews
If user is not sure what to watch? Flixeon APK allows users to watch trailers for movies and TV shows directly within the app. This feature ensures that you only invest your time in content that genuinely interests you.

Multiple subtitles to choose from
Flixeon V2 Movies & TV Shows APK supports 40+ subtitle languages to choose. Select subtitles in your native language or upload your own to ensure you don't miss a thing.

Scheduling Movies and Calendar Integration
Unlike many entertainment hd movie apps, Flixeon goes a step further by including scheduling capabilities. Users can add movies, events or TV shows to their calendar directly from the app. This feature ensures you never miss a premiere or an important show.

Advanced Search by Star Cast and More
For users who follow specific actors, genres or directors, Flixeon Movies TV Shows exclusive Advance search option is a standout feature. This tool makes it easy to find content starring your favorite actors or directed by industry legends. It’s an invaluable resource for anyone passionate about cinema.

Get the latest movie content
Get the latest movie content to stay updated with Flixeon's daily releases - among the first to deliver new movies and episodes.


Why Choose Flixeon App for Android or iPhone?

The most recent Flixeon free movie app unlocks the following premium features:

Seamless Experience Across Devices
While the Flixeon app APK is particularly popular among Android users, it also offers significant appeal to iPhone users. Its user-friendly interface, combined with advanced features, ensures that users across platforms enjoy a premium experience.

Regular Updates with the Latest Content
The Flixeon app’s regularly updated library ensures that you always have access to the latest movies and TV shows along with best free movie streaming sites. The app’s commitment to staying current makes it a reliable source for discovering new content.

All-in-One Entertainment Package
Flixeon APK V 2.0 is No Ads is combination of HD streaming, advanced search tools, GPS-based theater discovery and scheduling features sets it apart from other apps. It’s not just a streaming app, it’s a comprehensive entertainment management tool.


How Flixeon Stacks Up Against Competitors

While there are many apps for discovering and streaming movies and TV shows, Flixeon’s unique features make it a standout choice. Here’s how it compares:

Flixeon Movies TV Shows vs. Other Streaming Apps
Filtering Options: Unlike other Streaming apps, Flixeon APK offers detailed filters, allowing users to search by year, title, genre, actor, or director.
Theater Locator: Flixeon’s GPS-based feature for finding nearby theaters is a rare and useful addition.
Scheduling Integration: Few apps provide seamless calendar integration, making Flixeon a more versatile option.
Flixeon’s Competitive Edge
Flixeon With its minimalist design, advanced features, and lightweight build offers a superior experience for users who want more than just a streaming app. Its focus on discovery, tracking and convenience makes it a valuable tool for movie and TV enthusiasts.",
  "image": {
    "@type": "ImageObject",
    "url": "https://flixeon.app/opengraph.webp",
    "width": "1899",
    "height": "1337"
  },
  "author": {
    "@type": "Person",
    "url": "https://flixeon.app",
    "name": "Althea S. Williams"
  },
  "publisher": {
    "@type": "Organization",
    "name": "TerBox MOD APK",
    "logo": {
      "@type": "ImageObject",
      "url": "https://flixeon.app/logo-nav.webp",
      "width": "250",
      "height": "60"
    }
  },
  "datePublished": "2024-08-28T13:36:30Z",
  "dateModified": "2024-08-29T13:38:20Z"
}
</script>

<!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://flixeon.app">
  <meta property="og:title" content="Flixeon – Watch Movies, TV shows Free with Streaming Movie Apk">
  <meta property="og:description" content="Download Flixeon Movies & TV Shows App is the ultimate free streaming app for Android. Watch movies and TV shows for free online in HD quality with flixeon movie apk. ">
  <meta property="og:image" content="https://flixeon.app/opengraph.webp">
  
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://flixeon.app">
  <meta property="twitter:title" content="Flixeon – Watch Movies, TV shows Free with Streaming Movie Apk">
  <meta property="twitter:description" content="Download Flixeon Movies & TV Shows App is the ultimate free streaming app for Android. Watch movies and TV shows for free online in HD quality with flixeon movie apk.">
  <meta property="twitter:image" content="https://flixeon.app/opengraph.webp">
  


    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Download Flixeon Movies & TV Shows App is the ultimate free streaming app for Android. Watch movies and TV shows for free online in HD quality with flixeon movie apk."
      canonical={canonicalURL}
      twitter={{
        creator: "@altheas",
        site: "@flixeonmovieapk",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Flixeon – Watch Movies, TV shows Free with Streaming Movie Apk`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Flixeon Movie Apk Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
